*{
    padding: 0;
    margin: 1;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 17px;
}


.container{
    width: 30em;
    height: 35em;
    border: 1px black solid;    
    padding: 1%;
    display: inline-block;
    position: relative;
}

.header p{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.alarmslists ul li{
    border: 1px solid black;
    list-style-type: none;
    text-decoration: none;
    padding: 1em 3em;
    margin: 1em;
    border-radius: 0.8em;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .new .setAlarmForm{
   
    display: flex;
    
}

.container .new .setAlarmForm label{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.container .new .setAlarmForm input{
    background-color: #f5f9fe;
    padding: 0.6em;
    border-radius: 10px;
    border: 1px solid black;

}

.container .new .setAlarmForm input[type=submit]  {
    background-color: #093774;
    color: white;
    font-weight: 600;
    padding: 0.8em;
    margin-left: 1em;
}

.Alarmringing_in{    
    display: flex;
    margin: 0.5em;
    padding: 0.1em;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Alarmringing_in p{
    padding-left: 0.2em;
    text-align: center;
}

.deleteButton{
    background-color: #093774;
    color: white;
    font-weight: 600;
    padding: 0.8em;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}